
header {
  background-image: url("./Images/cherry-blossom-anime.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 10px ridge #2F295D;
}

#logo {
  height: 165px;
  border: 10px ridge #2F295D;
  box-sizing: border-box;
}

#header-buttons {
  background-color: #2F295D;
  color: black;
  border: ridge #F9C9E6;
  padding: 10px;
  cursor: pointer;
  text-align: right;
}

button {
  background-color: white;
  border: 10px ridge #8D80C4;
  padding: 10px;
  cursor: pointer;
  margin-left: 5px;
}

section {
  display: flex;
  align-items: right;
  margin-bottom: 20px;
}

.section-image {
  width: 50%;
  margin-right: 20px;
  border: 10px ridge #2F295D;
  box-sizing: border-box;
}

section{
  margin: 0;
  flex: 1; 
  text-align: right; 
}

#section-container {
  padding: 20px;
  background-color: #A68DC4;
  text-align: center;
}

.video-section {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 10px ridge #8D80C4;
}

footer {
  background-image: url("./Images/cherry-blossom-anime.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 10px ridge #2F295D;
}

.section-text {
  border: 10px ridge #2F295D;
  padding: 10px;
  background: white;
}

#copyright {
  margin-right: auto;
}